body{
    margin: auto;   
    font-size: 1.2em;
    width: 80%;
    text-align: center;
    color: #315259;    
}
main{
    padding: 3em;
}
nav{
    height: fit-content;
    vertical-align: middle;
    padding-top: .4%;
}

#nav li{
    list-style: none;
    display: inline-block;
    width: 10%;        
}

#nav li a{
    text-decoration: none;   
    display: block; 
    color: rgb(23, 24, 22); 
}
#nav li a:hover{
    background-color: #315259;
    color:  #D9D0D6;    
}
#profile{
    border-radius: 80px;
    border: 3px solid #315259;
}

.center{
    text-align: start;
    margin-left: 30%;
}
#projects img{
    width: 100%;
}

@media screen and (max-width: 582px){
    #nav li{
        display: block;
        width: 30%;
        margin-left: 30%;
        border-bottom: 2px solid #D9D0D6;       
    }    
    
}
/* Color Theme Swatches in Hex */
.coding-1{ background-color: #D9D0D6; }
.coding-2{ background-color: #315259; }
.coding-3{ background-color: #0A4040; }
.coding-4{ background-color: #53A670; }
.coding-5{ background-color: #95A672; }

/* Color Theme Swatches in RGBA */
.coding-1-rgba { background-color: rgba(216, 208, 213, 1); }
.coding-2-rgba { background-color: rgba(49, 81, 89, .4); }
.coding-3-rgba { background-color: rgba(10, 63, 63, 1); }
.coding-4-rgba { background-color: rgba(82, 165, 111, 1); }
.coding-5-rgba { background-color: rgba(149, 165, 114, 1); }

/* Color Theme Swatches in HSLA */
.coding-code-program-compute-coder-develop-developer-development-1-hsla { color: hsla(320, 10, 83, 1); }
.coding-code-program-compute-coder-develop-developer-development-2-hsla { color: hsla(191, 29, 27, 1); }
.coding-code-program-compute-coder-develop-developer-development-3-hsla { color: hsla(180, 72, 14, 1); }
.coding-code-program-compute-coder-develop-developer-development-4-hsla { color: hsla(140, 33, 48, 1); }
.coding-code-program-compute-coder-develop-developer-development-5-hsla { color: hsla(78, 22, 54, 1); }